* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ef0107;
}

.links {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.logo {
  color: white;
  font-weight: 900;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 auto;
}

.right-links {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #ef0107;
  padding: 80px;
}

.page1 {
  display: flex;
  background-color: #ef0107;
}

.pad {
  display: flex;
  flex-direction: column;
  background-color: #ef0107;
  padding: 10px 60px 60px 60px;
}

.page1left {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: flex-start; /* left align */
  text-align: left;
  flex: 1;
}

.page1left h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.page1left p {
  font-size: 18px;
  color: #f9faf8;
}

.page1left button {
  padding: 8px;
  border-radius: 8px;
  background-color: #3882f6;
  color: white;
  font-weight: bold;
}

.page1right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
}

.page1right img {
  max-width: 70%;
  height: auto;
  border-radius: 20px;
}

.page2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.page2-header {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 160px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.card-box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* IMPORTANT */
}

.card-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* keeps image nicely cropped */
}

.page2-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  display: flex;
  flex-shrink: 1;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 100px 20px;
}

.modern-quote {
  max-width: 800px;
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.modern-quote div {
  margin-top: 20px;
  text-align: right;
  font-weight: 700;
  font-style: normal;
}

.page3 {
  padding: 50px 100px;
  display: flex;
}

.blue {
  width: 100%;
  padding: 40px;
  display: flex;
  background-color: #3882f6;
  border-radius: 20px;
}

.page3left {
  display: flex;
  flex-direction: column;
  flex: 3;
  color: white;
}

.page3right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.page3right button {
  color: white;
  background-color: #3882f6;
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px 20px;
}

.footer {
  background-color: #ef0107;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  padding: 25px;
}
